@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --amplify-primary-color: #d84890;
    --amplify-primary-tint: #498a49;
    --amplify-primary-shade: #c9794b;
  }

*{
  /* border: 1px solid red; */
}
.hamnav{
  background-color: #343434;
}